---
trigger: none
  # branches:
  #   include:
  #     # - main
  #     # - features/*
pool:
  name: akkc_agent

variables:
  - group: backend_cred    # variable group name for backend details

# # 1. Initialization and Formatting

jobs:
  - job: initplan
    displayName: "Terraform init"
    steps:
    - task: TerraformTask@5
      displayName: "Terraform init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        backendServiceArm: 'azure_ado_sp'
        backendAzureRmOverrideSubscriptionID: '009fad33-c09c-4841-af38-57dd79870d40'
        backendAzureRmResourceGroupName: 'akkc'
        backendAzureRmStorageAccountName: 'storageaccountakkc007'
        backendAzureRmContainerName: 'tfstatefile-container'
        backendAzureRmKey: 'terratest.tfstate'

    - task: AzureCLI@2
      displayName: "Azure Login for Terratest"
      inputs:
        azureSubscription: 'azure_ado_sp'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az account show

    - task: Bash@3
      displayName: "Terratest"
      inputs:
        targetType: 'inline'
        script: |
          cd $(System.DefaultWorkingDirectory)/terratest
          go mod init "terratest"
          go get github.com/gruntwork-io/terratest@v0.54.0
          go get github.com/stretchr/testify/assert
          go mod tidy
          go test -v
        workingDirectory: '$(System.DefaultWorkingDirectory)'

    # - task: Bash@3
    #   displayName: "Run Terratest"
    #   inputs:
    #     targetType: 'inline'
    #     script: |
    #       cd terratest
    #       go mod tidy
    #       go test -v -timeout 30m



